:root {
    --primary-color: #fefae0; /* cream */
    --secondary-color: #283618; /* dark green */
    --tertiary-color: #bc6c25; /* burnt orange */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      color: var(--secondary-color);
      font-family: Helvetica, Arial, sans-serif;
      background-color: var(--primary-color);
  }

  /* Header / Nav bar styles start */
  header {
      padding: 30px;
      background-color: var(--secondary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 9999;
  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
  }

  header nav {
      margin: 7px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.35vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
  }
/* Header / Nav bar styles end */

/* Footer styles start */
footer {
    background: var(--secondary-color);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
}
/* Footer styles end */

/* Hero section start */
.hero {
    background-image: url('../images/hero-image-current.png');
    position: sticky;
    background-size: cover;
    background-position: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    height: 575px;
}

.hero-info {
    position: sticky;
    top: 20px;
    width: 35%;
    text-align: center;
    margin: 25%;
    color: var(--primary-color);
    font-size: 35px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-info h1 {
    font-size: 85px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-info button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
}

.hero-info button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/* Hero section end */

/* Section title styles start */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
/* Section title styles end */

/* About Me section start */
.about-me-section p {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* About Me section end */

/* My Work section start */
.flex-row {
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.application {
    margin: 20px;
    flex-direction: row;
    flex: 1;
}

.grow p {
    text-align: center;
    padding-top: 10px;
}

.grow img {
 flex: 1;
}

.grow img:hover {
   transform: scale(1.1);
}

.application img {
    max-width: 100%;
    height: auto;
}

.application-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}
/* My work section end */

/* Contact me section start */
.contact-me-section {
    background: var(--tertiary-color);
    height: auto;
}

.contact-me-section h2 {
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
    align-items: flex-end;
}
/* contact me section start */

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2 {
        text-align: center;
        width: 100%;
    }

    .hero-info {
        width: 100%;
    }

    .section-title {
        width: 80%;
    }

    .container {
        flex: 0 70%;
    }
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .hero {
        height: 100%;
        width: 100%;
    }
}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .hero-info button {
        width: 100%;
    }

    .section-title {
        width: 100%;
    }

    .about-me-section p {
        width: 100%;
    }

    .container {
        flex: 0 100%;
    }

    .contact-me-section {
        text-align: center;
    }

    .contact-me-section > * {
        width: 100%;
    }

    .hero {
        flex: 0 100%;
    }

    .application {
        justify-content: center;
    }
}
