:root {
    --primary-color: #fefae0; /* cream */
    --secondary-color: #283618; /* dark green */
    --tertiary-color: #bc6c25; /* burnt orange */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
      color: var(--secondary-color);
      font-family: Helvetica, Arial, sans-serif;
  }

  /* Header / Nav bar styles start */

  header {
      padding: 25px;
      background-color: var(--secondary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 9999;
  }

  header h1 {
      font-weight: bold;
      margin: 0;
      padding: 0;
      font-size: 36px;
      color: var(--primary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
  }

  header nav {
      margin: 7px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }